/**
* Vélo - Astro Tutorial App
*/

/* Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
* General
*/

html {
    font-size: 8px;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    color: #595959;
    font: 2em/1.5 helvetica, serif;
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;
}

body::after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background: red;
    z-index: 100;
    top: -10px;
    position: fixed;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

p {
    margin: 0 0 2rem 0;
}

a {
    color: #1ccdab;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover,
a:focus {
    color: #19b394;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0;
    font-weight: bold;
    line-height: 1;
}

h1,
.c--h1 {
    font-size: 3.5rem;
}

h2,
.c--h2 {
    font-size: 3rem;
}

h3,
.c--h3 {
    font-size: 2.5rem;
}

h4,
.c--h4 {
    font-size: 2.25rem;
}

h5,
h6,
.c--h5,
.c--h6 {
    font-size: 2rem;
}

.c--header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 6rem;
    margin: 0;
    padding: 0 2rem 0;
    background: #f2f2f2;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

form {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"],
textarea {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: none;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/**
* Universal
*/

.u-container {
    width: 100%;
    padding: 0 2rem;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.u-container.c--bordered {
    padding-bottom: 2rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.u-hidden {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.u-clear:after {
    content: "";
    display: table;
    clear: both;
}

/**
* Components
*/

/* Button */

.c-button {
    padding: 0;
    border: 0;
    outline: none;
}

.c-button.c--more {
    width: 6rem;
    height: 6rem;
    background: transparent url('/images/more.svg') no-repeat;
    background-size: 100%;
}

.c-button.c--cta {
    background: #1ccdab;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.c-button.c--cta:hover,
.c-button.c--cta:focus {
    background: #19b394;
}

.c-button.c--sm {
    padding: 1.5rem 2rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.c-button.c--lg {
    padding: 2rem 3rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}

.c-button.c--stretched {
    width: 100%;
}

.c-button.c--action {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #fff;
    font-size: 2rem;
}

.c-button.c--remove {
    background: red;
}

.c-button.c--remove:hover,
.c-button.c--remove:focus {
    background: #e50000;
}

.c-button.c--track {
    background: #1ccdab;
}

.c-button.c--track:hover,
.c-button.c--track:focus {
    background: #19b394;
}

.c-button:hover {
    cursor: pointer;
}

/* Product List */

.c-product-list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Product */

.c-product {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-height: 100rem;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.c--grid .c-product {
    float: left;
    width: 50%;
}

.c-product.c--removed {
    max-height: 0;
    overflow: hidden;
}

.c-product__wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: #fff;
    z-index: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.c--grid  .c-product__wrapper {
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
}

.c--list .c-product__wrapper {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
}

.c--actions-visible .c-product__wrapper {
    position: relative;
    -moz-transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
}

.c-product__wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    z-index: -1;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.c--actions-visible .c-product__wrapper::after {
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.c-product__link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.c--list .c-product__link {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.c-product__image {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 100%;
    height: auto;
}

.c--list .c-product__image {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 14rem;
}

.c-product__details {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    text-align: center;
}

.c--list .c-product__details {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem 0 2rem 1rem;
    text-align: left;
}

.c-product__title {
    margin: 0 2rem 0.5rem 2rem;
    font-size: 2.0rem;
}

.c--list .c-product__title {
    margin-left: 0;
}

.c-product__price {
    margin-bottom: 0.5rem;
}

.c--list .c-product__price {
    margin-bottom: 0;
}

.c-product__meta {
    background: #f2f2f2;
    padding: 2rem;
}

.c-product__meta *:last-child {
    margin-bottom: 0;
}

.c-product__actions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    text-align: center;
}

/* Nav Account */

.c-nav-account__link {
    display: block;
    padding: 0 2rem;
    line-height: 6rem;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
}

/* Checkout */

.c-checkout {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .05);
    z-index: 1;
}

.c-checkout__total {
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 6rem;
    padding: 0 2rem;
    font-size: 2.25rem;
}

.c-checkout__total-number {
    font-weight: bold;
}

.c-checkout__action {
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 6rem;
    padding: :rem;
    background: #f2f2f2;
}


/* Styles go here */
.inApp .navbar,
.inApp .breadcrumb,
.inApp .footer {
    display: none;
}


.navbar {
    height: 60px;
    background: #1ccdab;
}

.navbar img {
    width: 104px; height: 40px;
    margin: 0 auto;
    padding-top: 10px;
}

.footer {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #777;
}


