body {
    background-color: #bccfba;
}

.cart-item {
    display: block;
    background-color: #fff;
    width: 90%;

    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px;

    border-radius: 12px;
}

.cart-item .image, .cart-item .item-name {
    display: inline-block;
    margin: auto 0;
}

.cart-item .item-name {
    position: relative;
    width: 65%;
    bottom: 30px;

    text-transform: capitalize;
}

.cart-item .image {
    position: relative;
    right: 0;
    width: 25%;
}

.cart-item img {
    width: 100%;
}
