/**
* Cart
*/

body {
    background-color: #fff;
}

.t-cart .c-heading.c--header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.t-cart .c-product-list {
    padding-top: 6rem;
    padding-bottom: 16rem;
}

.t-cart.c--empty .c-product-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 0;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}

.t-cart.c--empty .c-product-list::after {
    content: 'There\'s nothing in you cart.';
    display: block;
    color: #ccc;
}

.t-cart .c-button.c--more {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.t-cart.c--empty .c-checkout {
    bottom: -16rem;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
