<h1 class="c-heading c--h3 c--header">Account</h1>
<nav class="c-nav-account">
    <ul class="c-nav-account__list">
        <li class="c-nav-account__item">
            <a href="/details/" class="c-nav-account__link">Account Details</a>
        </li>
        <li class="c-nav-account__item">
            <a href="/orders/" class="c-nav-account__link">Orders</a>
        </li>
        <li class="c-nav-account__item">
            <a href="/credit-cards/" class="c-nav-account__link">Credit Cards</a>
        </li>
        <li class="c-nav-account__item">
            <a href="/notifications/" class="c-nav-account__link">Notifications</a>
        </li>
        <li class="c-nav-account__item">
            <a href="/help/" class="c-nav-account__link">Help</a>
        </li>
        <li class="c-nav-account__item">
            <a href="#" class="c-nav-account__link">Log Out</a>
        </li>
    </ul>
</nav>