<h1 class="c-heading c--h3 c--header js-header">My Cart</h1>
<section class="c-product-list c--list js-product-list"></section>
<section class="c-checkout js-checkout">
    <div class="c-checkout__total">
        <span class="c-checkout__total-title">Total</span>
        <span class="c-checkout__total-number js-cart-total">$0.00</span>
    </div>
    <div class="c-checkout__action">
        <button class="c-button c--lg c--cta c--stretched">Checkout</button>
    </div>
</section>