<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/cart.css">
    </head>
    <body class="t-cart c--empty">
        <h1 class="c-heading c--h3 c--header js-header">My Cart</h1>
        <section class="c-product-list c--list js-product-list"></section>
        <section class="c-checkout js-checkout">
            <div class="c-checkout__total">
                <span class="c-checkout__total-title">Total</span>
                <span class="c-checkout__total-number js-cart-total">$0.00</span>
            </div>
            <div class="c-checkout__action">
                <button class="c-button c--lg c--cta c--stretched">Checkout</button>
            </div>
        </section>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <script>
            // Show extra actions
            $('body').on('click', '.js-toggle-actions', function() {
                $('.js-product').removeClass('c--actions-visible');
                $(this).closest('.js-product').addClass('c--actions-visible');
                return false;
            });

            // Remove an item from the cart
            $('body').on('click', '.js-remove', function() {
                var $product = $(this).closest('.js-product');
                $product.addClass('c--removed');

                var $products = $('.js-product');
                var index = $products.index($product);

                setTimeout(function() {
                    $product.remove();
                    removeCartItem(index);
                    updateCartTotal();
                }, 500);

                return false;
            });

            // Close all visible actions
            $('body').on('click', function() {
                var $visibleActions = $('.js-product.c--actions-visible');
                $visibleActions.removeClass('c--actions-visible');
                if ($visibleActions.length > 0) {
                    return false;
                }
            });

            var removeCartItem = function(index) {
                var cart = JSON.parse(localStorage.getItem("cart") || []);

                cart.splice(index, 1);

                localStorage.setItem('cart', JSON.stringify(cart));
            }

            var updateCartItems = function() {
                updateCartTotal();

                var cart = JSON.parse(localStorage.getItem("cart")) || [];

                var item;
                var $cartItems = $('.c-product-list');
                $cartItems.empty();
                var cartLength = cart.length;

                for (var i = 0; i < cartLength; i++) {
                    item = cart[i];

                    $cartItems.append(
                        '<article class="c-product js-product">' +
                            '<div class="c-product__wrapper js-product-wrapper">' +
                                '<a href="/' + item.link + '/" class="c-product__link">' +
                                    '<div class="c-product__details">' +
                                        '<h1 class="c-heading c--h4 c-product__title">' + item.item + '</h1>' +
                                        '<p class="c-product__price">$' + item.price + '</p>' +
                                    '</div>' +
                                    '<img src="' + item.image + '" alt="' + item.item + '" class="c-product__image">' +
                                '</a>' +
                                '<button class="c-button c--more js-toggle-actions"><span class="u-hidden">More</span></button>' +
                            '</div>' +
                            '<div class="c-product__actions">' +
                                '<button class="c-button c--action c--remove js-remove">Remove</button>' +
                            '</div>' +
                        '</article>'
                    );
                }
            };

            var updateCartTotal = function() {
                var item;
                var totalPrice = 0.00;
                var cart = JSON.parse(localStorage.getItem("cart")) || [];
                var cartLength = cart.length;

                $('body').toggleClass('c--empty', cartLength === 0);

                for (var i = 0; i < cartLength; i++) {
                    item = cart[i];
                    totalPrice += parseFloat(item.price);
                }

                $('.js-cart-total').text("$" + totalPrice.toFixed(2));
            }

            window.addEventListener('storage', updateCartItems);

            updateCartItems();
        </script>
    </body>
</html>
