<section class="c-product js-product" data-item="City Bike" data-price="1149.99" data-url="city-bike">
    <div class="c-product__wrapper">
        <div class="c-product__details">
            <h1 class="c-heading c--h1 c-product__title">City Bike</h1>
            <p class="c-product__price">$1149.99</p>
        </div>
        <img src="/images/city.jpg" alt="Road Bike" class="c-product__image js-product-image">
        <button class="c-button c--cta c--lg js-add">Add to Cart</button>
        <aside class="c-product__meta">
            <p>You'll enjoy the fun and also get in shape on Vélo's versatile Road Bike. This bike features a light aluminum frame and road bike size wheels, a combination that lets you ride further and faster with the minimal effort. Plus, it sports a hill-flattening 24-speed drivetrain and confidence-inspiring linear-pull brakes. You'll love the puncture-resistant tires that keep you pedaling worry-free.</p>
        </aside>
    </div>
</section>