<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/account-page.css">
    </head>
    <body class="t-account-page">
        <div class="u-container">
            <h1 class="c-heading c--h2">Credit Cards</h1>
            <p>List of credit cards</p>
        </div>

        <script src="/js/jquery.min.js"></script>

        <!-- Add your scripts here -->
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <!-- Add your scripts here -->
    </body>
</html>