<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/pdp.css">
    </head>
    <body class="t-pdp">
        <section class="c-product js-product" data-item="Road Bike" data-price="1699.99" data-url="fixie">
            <div class="c-product__wrapper">
                <div class="c-product__details">
                    <h1 class="c-heading c--h1 c-product__title">Fixie</h1>
                    <p class="c-product__price">$899.99</p>
                </div>
                <img src="/images/fixie.jpg" alt="Road Bike" class="c-product__image js-product-image">
                <button class="c-button c--cta c--lg js-add">Add to Cart!</button>
                <aside class="c-product__meta">
                    <p>Featuring a flip/flop rear hub, it can be set up as a fixed gear ride or you can use a traditional freewheel-you choose. And the alloy crank set can take the pressure applied to it by the Fixie gear system, thanks to it's nutted construction. Lightweight performance is what drives the components that make up the Pace. Alloy is found where needed: stem; seat post; brakes and levers; crank set; hubs, and rims. Pair the dual pivot calliper brakes with the CNC sidewalls of the double-wall rims and you have stopping power needed for the concrete jungle.</p>
                </aside>
            </div>
        </section>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/cart.js"></script>

        <!-- Add your scripts here -->
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <!-- Add your scripts here -->

        <script>
            $(".js-add").click(function() {
                Astro.trigger('addToCartClicked');
            });
        </script>
    </body>
</html>