<div class="u-container">
    <h1 class="c-heading c--h2">Help</h1>
    <p>Taking care of our customers is something we take to heart. Please fill in the contact form below so that we can help you as quickly as possible.</p>
    <form>
        <label>Name:</label>
        <input type="text" name="name" class="">
        <label>Email:</label>
        <input type="text" name="email">
        <label>Message:</label>
        <textarea name="textarea"></textarea>
        <input type="submit" class="c-button c--sm c--cta">
    </form>
</div>