<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/account-page.css">
    </head>
    <body class="t-account-page">
        <div class="u-container">
            <h1 class="c-heading c--h2">Help</h1>
            <p>Taking care of our customers is something we take to heart. Please fill in the contact form below so that we can help you as quickly as possible.</p>
            <form>
                <label>Name:</label>
                <input type="text" name="name" class="">
                <label>Email:</label>
                <input type="text" name="email">
                <label>Message:</label>
                <textarea name="textarea"></textarea>
                <input type="submit" class="c-button c--sm c--cta">
            </form>
        </div>

        <script src="/js/jquery.min.js"></script>

        <!-- Add your scripts here -->
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <!-- Add your scripts here -->
    </body>
</html>