<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/pdp.css">
    </head>
    <body class="t-pdp">
        <section class="c-product js-product" data-item="Road Bike" data-price="1699.99" data-url="hybrid-bike">
            <div class="c-product__wrapper">
                <div class="c-product__details">
                    <h1 class="c-heading c--h1 c-product__title">Hybrid Bike</h1>
                    <p class="c-product__price">$1999.99</p>
                </div>
                <img src="/images/hybrid.jpg" alt="Road Bike" class="c-product__image js-product-image">
                <button class="c-button c--cta c--lg js-add">Add to Cart!</button>
                <aside class="c-product__meta">
                    <p>You'll enjoy the fun and also get in shape on Vélo's versatile Road Bike. This bike features a light aluminum frame and road bike size wheels, a combination that lets you ride further and faster with the minimal effort. Plus, it sports a hill-flattening 24-speed drivetrain and confidence-inspiring linear-pull brakes. You'll love the puncture-resistant tires that keep you pedaling worry-free.</p>
                </aside>
            </div>
        </section>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/cart.js"></script>

        <!-- Add your scripts here -->
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <!-- Add your scripts here -->

        <script>
            $(".js-add").click(function() {
                Astro.trigger('addToCartClicked');
            });
        </script>
    </body>
</html>