    <div class="row categories" style="padding-top: 15px;">
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/backpacks.jpg">
            <div class="caption">
              <h4>Backpacks</h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/books.jpg">
            <div class="caption">
              <h4>Books<h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/camping.jpg">
            <div class="caption">
              <h4>Camping<h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/furniture.jpg">
            <div class="caption">
              <h4>Furniture<h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/gadgets.jpg">
            <div class="caption">
              <h4>Gadgets<h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/headphones.jpg">
            <div class="caption">
              <h4>Headphones<h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/mugs.jpg">
            <div class="caption">
              <h4>Mugs<h4>
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href='/plp' class="thumbnail">
            <img src="/images/office.jpg">
            <div class="caption">
              <h4>Office<h4>
            </div>
          </a>
        </div>
    </div> <!-- /.row.categories -->


    <style>
        .caption {
            text-align: center;
        }
    </style>