<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/plp.css">
    </head>
    <body class="t-plp">
        <section class="c-product-list">
            <article class="c-product js-product" data-item="Road Bike" data-price="1699.99">
                <div class="c-product__wrapper">
                    <a href="/pdp/" class="c-product__link">
                        <div class="c-product__details">
                            <h1 class="c-heading c--h4 c-product__title">Road Bike</h1>
                            <p class="c-product__price">$1699.99</p>
                        </div>
                        <img src="/images/road.jpg" alt="Road Bike" class="c-product__image js-product-image">
                    </a>
                    <button class="c-button c--cta c--sm js-add">Add to Cart!</button>
                </div>
            </article>
            <article class="c-product" data-item="Commuter" data-price="1299.99">
                <div class="c-product__wrapper">
                    <a href="/pdp/" class="c-product__link">
                        <div class="c-product__details">
                            <h1 class="c-heading c--h4 c-product__title">Commuter</h1>
                            <p class="c-product__price">$1299.99</p>
                        </div>
                        <img src="/images/commuter.jpg" alt="Commuter" class="c-product__image js-product__image">
                    </a>
                    <button class="c-button c--cta c--sm js-add">Add to Cart!</button>
                </div>
            </article>
            <article class="c-product" data-item="City Bike" data-price="1149.99">
                <div class="c-product__wrapper">
                    <a href="/pdp/" class="c-product__link">
                        <div class="c-product__details">
                            <h1 class="c-heading c--h4 c-product__title">City Bike</h1>
                            <p class="c-product__price">$1149.99</p>
                        </div>
                        <img src="/images/city.jpg" alt="City Bike" class="c-product__image js-product__image">
                    </a>
                    <button class="c-button c--cta c--sm js-add">Add to Cart!</button>
                </div>
            </article>
            <article class="c-product" data-item="Mountain Bike" data-price="2199.99">
                <div class="c-product__wrapper">
                    <a href="/pdp/" class="c-product__link">
                        <div class="c-product__details">
                            <h1 class="c-heading c--h4 c-product__title">Mountain Bike</h1>
                            <p class="c-product__price">$2199.99</p>
                        </div>
                        <img src="/images/mountain.jpg" alt="Mountain Bike" class="c-product__image js-product__image">
                    </a>
                    <button class="c-button c--cta c--sm js-add">Add to Cart!</button>
                </div>
            </article>
            <article class="c-product" data-item="Hybrid Bike" data-price="1999.99">
                <div class="c-product__wrapper">
                    <a href="/pdp/" class="c-product__link">
                        <div class="c-product__details">
                            <h1 class="c-heading c--h4 c-product__title">Hybrid Bike</h1>
                            <p class="c-product__price">$1999.99</p>
                        </div>
                        <img src="/images/hybrid.jpg" alt="Hybrid Bike" class="c-product__image js-product__image">
                    </a>
                    <button class="c-button c--cta c--sm js-add">Add to Cart!</button>
                </div>
            </article>
            <article class="c-product" data-item="Fixie" data-price="899.99">
                <div class="c-product__wrapper">
                    <a href="/pdp/" class="c-product__link">
                        <div class="c-product__details">
                            <h1 class="c-heading c--h4 c-product__title">Fixie</h1>
                            <p class="c-product__price">$899.99</p>
                        </div>
                        <img src="/images/fixie.jpg" alt="Fixie" class="c-product__image js-product__image">
                    </a>
                    <button class="c-button c--cta c--sm js-add">Add to Cart!</button>
                </div>
            </article>
        </section>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/cart.js"></script>

        <!-- Add your scripts here -->
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <!-- Add your scripts here -->

        <script>
            $(".js-add").click(function() {
                Astro.trigger('addToCartClicked');
            });
        </script>
    </body>
</html>