<section class="c-product-list c--grid u-clear">
    <article class="c-product js-product" data-item="Road Bike" data-price="1699.99" data-url="road-bike">
        <div class="c-product__wrapper">
            <a href="/road-bike/" class="c-product__link js-product-link">
                <div class="c-product__details">
                    <h1 class="c-heading c--h4 c-product__title">Road Bike</h1>
                    <p class="c-product__price">$1699.99</p>
                </div>
                <img src="/images/road.jpg" alt="Road Bike" class="c-product__image js-product-image">
            </a>
            <button class="c-button c--cta c--sm js-add">Add to Cart</button>
        </div>
    </article>
    <article class="c-product js-product" data-item="Commuter" data-price="1299.99" data-url="commuter">
        <div class="c-product__wrapper">
            <a href="/commuter/" class="c-product__link js-product-link">
                <div class="c-product__details">
                    <h1 class="c-heading c--h4 c-product__title">Commuter</h1>
                    <p class="c-product__price">$1299.99</p>
                </div>
                <img src="/images/commuter.jpg" alt="Commuter" class="c-product__image js-product-image">
            </a>
            <button class="c-button c--cta c--sm js-add">Add to Cart</button>
        </div>
    </article>
    <article class="c-product js-product" data-item="City Bike" data-price="1149.99" data-url="city-bike">
        <div class="c-product__wrapper">
            <a href="/city-bike/" class="c-product__link js-product-link">
                <div class="c-product__details">
                    <h1 class="c-heading c--h4 c-product__title">City Bike</h1>
                    <p class="c-product__price">$1149.99</p>
                </div>
                <img src="/images/city.jpg" alt="City Bike" class="c-product__image js-product-image">
            </a>
            <button class="c-button c--cta c--sm js-add">Add to Cart</button>
        </div>
    </article>
    <article class="c-product js-product" data-item="Mountain Bike" data-price="2199.99" data-url="mountain-bike">
        <div class="c-product__wrapper">
            <a href="/mountain-bike/" class="c-product__link js-product-link">
                <div class="c-product__details">
                    <h1 class="c-heading c--h4 c-product__title">Mountain Bike</h1>
                    <p class="c-product__price">$2199.99</p>
                </div>
                <img src="/images/mountain.jpg" alt="Mountain Bike" class="c-product__image js-product-image">
            </a>
            <button class="c-button c--cta c--sm js-add">Add to Cart</button>
        </div>
    </article>
    <article class="c-product js-product" data-item="Hybrid Bike" data-price="1999.99" data-url="hybrid-bike">
        <div class="c-product__wrapper">
            <a href="/hybrid-bike/" class="c-product__link js-product-link">
                <div class="c-product__details">
                    <h1 class="c-heading c--h4 c-product__title">Hybrid Bike</h1>
                    <p class="c-product__price">$1999.99</p>
                </div>
                <img src="/images/hybrid.jpg" alt="Hybrid Bike" class="c-product__image js-product-image">
            </a>
            <button class="c-button c--cta c--sm js-add">Add to Cart</button>
        </div>
    </article>
    <article class="c-product js-product" data-item="Fixie" data-price="899.99" data-url="fixie">
        <div class="c-product__wrapper">
            <a href="/fixie/" class="c-product__link js-product-link">
                <div class="c-product__details">
                    <h1 class="c-heading c--h4 c-product__title">Fixie</h1>
                    <p class="c-product__price">$899.99</p>
                </div>
                <img src="/images/fixie.jpg" alt="Fixie" class="c-product__image js-product-image">
            </a>
            <button class="c-button c--cta c--sm js-add">Add to Cart</button>
        </div>
    </article>
</section>
