<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/templates/account.css">
    </head>
    <body class="t-account">
        <h1 class="c-heading c--h3 c--header">Account</h1>
        <nav class="c-nav-account">
            <ul class="c-nav-account__list">
                <li class="c-nav-account__item">
                    <a href="#" class="c-nav-account__link">Account Details</a>
                </li>
                <li class="c-nav-account__item">
                    <a href="#" class="c-nav-account__link">Orders</a>
                </li>
                <li class="c-nav-account__item">
                    <a href="#" class="c-nav-account__link">Credit Cards</a>
                </li>
                <li class="c-nav-account__item">
                    <a href="#" class="c-nav-account__link">Notifications</a>
                </li>
                <li class="c-nav-account__item">
                    <a href="#" class="c-nav-account__link">Help</a>
                </li>
                <li class="c-nav-account__item">
                    <a href="#" class="c-nav-account__link">Log Out</a>
                </li>
            </ul>
        </nav>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/cart.js"></script>

        <!-- Add your scripts here -->
        <script src="/js/backbone-events.js"></script>
        <script src="/js/astro.js"></script>
        <!-- Add your scripts here -->
    </body>
</html>