<div class="u-container">
    <h1 class="c-heading c--h2">Notifications</h1>
    <p>Get notifications on your device to stay up-to-date on the latest at Vélo.</p>
    <form>
        <label><input type="checkbox" name="notifications" value="enabled" checked> Enable notification</label>
    </form>
</div>