<script>
  if(Astro.isRunningInApp()){
    Astro.trigger('setAppScreenTitle', 'Jawbone Fitness Tracker');
  }
</script>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li>Gadgets</li>
  <li class="active">Jawbone Fitness Tracker</li>
</ol>

<p>
  <img style="width: 100%;" src="/images/gadgets/5.jpg">
</p>

<h3> Jawbone Fitness Tracker </h3>
<h4>$44.89</h4>
<p>
  <button class='btn btn-success btn-block'>Add to Cart</button>
</p>
<p>
Crafted by award winning designer Yves Behar, the Jawbone UP24 pairs refined taste with cutting edge technology.
Learn all about yourself as the Jawbone UP24 tracks your daily steps, distance, calories burned, light sleep, deep sleep, and even compares the time you've spent active versus idle. With the new Bluetooth Smart technology, the UP24 wirelessly keeps your iOS device updated with your progress in real time.
</p>
