<script>
  if(Astro.isRunningInApp()){
    Astro.trigger('setAppScreenTitle', 'Product Title');
  }
</script>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li>Shirts</li>
  <li class="active">Product</li>
</ol>

<h1> Product Page </h1>
<p> TODO: INSERT ADD TO CART BUTTON </p>