<script>
  if(Astro.isRunningInApp()){
    Astro.trigger('setAppScreenTitle', 'Bikes');
  }
</script>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Shirts</li>
</ol>

<div class="row">
    <div class='col-xs-12'>


        <a href='/pdp' class="media product">
          <div class="media-left">
            <div>
              <img style='with: 64px; height: 64px;' class="media-object" src="/images/road.jpg">
            </div>
          </div>
          <div class="media-body">
            <strong class="media-heading">Media heading</strong> <br />
            <small> $46.87 </small>
          </div>
        </a>

        <a href='/pdp' class="media product">
          <div class="media-left">
            <div>
              <img style='with: 64px; height: 64px;' class="media-object" src="/images/road.jpg">
            </div>
          </div>
          <div class="media-body">
            <strong class="media-heading">Media heading</strong> <br />
            <small> $46.87 </small>
          </div>
        </a>

        <a href='/pdp' class="media product">
          <div class="media-left">
            <div>
              <img style='with: 64px; height: 64px;' class="media-object" src="/images/road.jpg">
            </div>
          </div>
          <div class="media-body">
            <strong class="media-heading">Media heading</strong> <br />
            <small> $46.87 </small>
          </div>
        </a>

    </div> <!-- /.col -->
</div> <!-- /.row -->