<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        {{#if styles}}
            <link rel="stylesheet" href="{{ styles }}">
        {{/if}}
        <script src="http://assets.mobify.com/astro/astro-client-0.6.0.min.js"></script>
    </head>
    <body {{#if bodyClass}} class="{{bodyClass}}" {{/if}}>
        <script>
            if(Astro.isRunningInApp()){
                var el = document.body;
                var className = 'inApp';
                if (el.classList)
                  el.classList.add(className);
                  el.className += ' ' + className;
            }
        </script>

        <div class='navbar'>
            <img class='logo' src='/images/velo-white.png' />
        </div>

        {{{body}}}

        <div class="footer">
            <p>
                Copyright 2016<br />
                Velo Shop Inc.<br />
            </p>
        </div>

        {{> scripts}}
        {{#if scripts}}
            {{#each scripts}}
                <script src="{{ this }}"></script>
            {{/each}}
        {{/if}}
    </body>
</html>
