<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="/css/style.css">
        {{#if styles}}
            <link rel="stylesheet" href="{{ styles }}">
        {{/if}}
    </head>
    <body {{#if bodyClass}} class="{{bodyClass}}" {{/if}}>
        {{{body}}}
        {{> scripts}}
        {{#if scripts}}
            {{#each scripts}}
                <script src="{{ this }}"></script>
            {{/each}}
        {{/if}}
    </body>
</html>
